body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display-Medium", Helvetica;
    box-sizing: border-box;
    background-color: #E8EFFF;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: #013B7D;
    color: #f0f0f0;
    padding: 10px 20px;
    height: 60px;
  }
  .div {
    width: 1252px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0;
    font-size: 1rem;
    font-family: "SF Pro Display-Medium", Helvetica;
  }
  .menu a:first-child {
    margin-right: 11px;
  }
  .menu a:last-child {
    margin-right: 122px;
    margin-left: 140px;
  }
  .menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  .menu a img {
    height: 38px;
  }
  .menu a:hover {
    background-color: #013b7a;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10vw;
  }
  .search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 470px;
    margin: auto;
    height: 44px;
    margin-right: 300px;
  }

  .search-bar input[type="text"] {
    width: 100%;
    height: 1005;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .head-menu {
    height: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "SF Pro Display-Medium", Helvetica;
    background: url(website-tour-main/img/Home/image\ 186.png) no-repeat center center/cover;
  }
  .head-menu h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 88px;
    margin-left: 348px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 87px;
  }
  .menu-bar {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
  }
  .menu-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 132px;
    width: 242px;
    color: #000000;
    background: #fff;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .destinations {
    position: relative;
    top: 480px;
  }
.footer {
    display: flex;
    background-color: #013B7D;
    height: 450px;
    width: 100%;
    color: #fff;
    padding-top: 100px;
    margin-top: 150px;
}
.footer .logo img {
    width: 160px;
    height: 73px;
}
.footer .logo {
    margin-left: 60px;
    margin-right: 200px;
    margin-top: 26px;
    height: 73px;
}
.footer .contact {
    font-family: "SF Pro Display-Medium", Helvetica;
    width: 506px;
    height: 253px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.footer .contact h1 {
    margin-bottom: 24px;
    font-weight: bold;
}
.footer .contact p {
    margin-bottom: 24px;
}
.footer .contact li {
    list-style: none;
    text-align: left;
}
.footer .social {
    margin-bottom: 24px;
}
.footer .support {
    font-family: "SF Pro Display-Medium", Helvetica;
    text-align: left;
    margin-left: 64px;
    margin-right: 180px;
}
.footer .support h1 {
    font-weight: bold;
    margin-bottom: 24px;
}
.footer .support li {
    list-style: none;
    line-height: 32px;
}
.footer .app {
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .app h1 {
    font-weight: bold;
}
.footer .app img {
    margin-bottom: 4px;
}
.thumb {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 348px;
    bottom: 300px;
    width: 1225px;
    gap: 20.5px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .thumb-w {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 348px;
    bottom: 590px;
    width: 1225px;
    gap: 20.5px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .thumb-n {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 348px;
    bottom: 590px;
    width: 1225px;
    gap: 20.5px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .thumb-w h1 {
    font-family: "SF Pro Display", Helvetica;
    font-size: 40px;
  }
  .thumb-n h1 {
    font-family: "SF Pro Display", Helvetica;
    font-size: 40px;
  }
  .thumb-1 {
    display: flex;
    flex-direction: row;
    width: 1225px;
    flex-wrap: nowrap;
    gap: 20.5px;
  }
  .two-h img {
    width: 601.5px;
    height: 290px;
    border-radius: 20px;
  }
  .sqr img{
    width: 290px;
    border-radius: 20px;
  }
  .thumb-2 {
    display: flex;
    flex-direction: row;
    gap: 20.5px;
  }
  .two-v img {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
  }
  .three-h img {
    height: 290px;
    width: 912px;
    border-radius: 20px;
  }
  .h-comp-1 {
    display: flex;
    flex-direction: row;
    gap: 20.5px;
  }
  .h-comp-2 {
    display: flex;
    flex-direction: row;
    gap: 20.5px;
  }
  .comp-1 {
    display: flex;
    flex-direction: column;
    gap: 20.5px;
  }
  .thumb-3 {
    display: flex;
    gap: 20.5px;
  }
  .thumb-5 {
    display: flex;
    gap: 20.5px;
  }
  .thumb-6 {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    position: relative;
    bottom: 315.5px;
  }
  .fix-1 {
    position: relative;
    bottom: 315.5px;
  }
  .thumb h1 {
    font-family: "SF Pro Display", Helvetica;
    font-size: 40px;
    /* font-weight: bold; */
  }
  #n-1 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #n-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #n-2 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #n-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #n-3 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #n-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #n-4 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #n-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #n-5 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #n-5:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-1 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-2 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-3 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-4 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-5 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-5:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-6 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-6:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-7 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-7:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-8 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-8:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-9 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-9:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-10 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-10:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-11 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-11:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #c-12 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #c-12:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-1 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-2 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-3 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-4 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-5 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-5:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-6 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-6:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-7 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-7:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-8 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-8:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-9 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-9:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-10 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-10:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-11 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-11:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-12 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-12:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-13 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-13:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-14 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-14:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-15 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-15:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #s-16 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #s-16:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-1 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-2 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-3 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-4 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-5 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-5:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-6 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-6:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-7 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-7:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-8 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-8:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-9 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-9:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-10 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-10:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #e-11 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #e-11:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-1 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-2 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-3 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-4 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-5 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-5:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-6 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-6:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-7 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-7:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-8 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-8:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-9 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-9:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #w-10 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #w-10:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #nt-1 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #nt-1:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #nt-2 {
    height: 290px;
    width: 912px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #nt-2:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #nt-3 {
    height: 290px;
    width: 601.5px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #nt-3:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #nt-4 {
    height: 290px;
    width: 290px;
    border-radius: 20px;
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    padding: 30px;
    align-items: end;
    color: #f4f4f4;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  }
  #nt-4:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  #nt-1 {
    height: 601.5px;
    width: 290px;
    border-radius: 20px;
  }