body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display-Medium", Helvetica;
    box-sizing: border-box;
    background-color: #E8EFFF;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display-Medium", Helvetica;
}

/* Carousel */

.carousel{
    width: 714px;
    height: 416px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel .list .item{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    transform: translateY(-70%);
    left: 60%;
    border: #f4f4f4 solid 1px;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel .list .item:nth-child(3){
    left: 69%;
}

.carousel .list .item:nth-child(4){
    left: calc(69% + 110px);
}

.carousel .list .item:nth-child(5){
    left: calc(69% + 360px);
}

.carousel .list .item:nth-child(6){
    left: calc(69% + 560px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(69% + 760px);
    opacity: 0;
}

.list .item .content{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.arrows{
    position: absolute;
    top: 10%;
    right: 76%;
    z-index: 100;
    width: 150px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: #fff;
    color: #000;
}

/* Carousel */

/* Carousel-1 */

.carousel-1{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-1 .list-1 .item-1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    border: #f4f4f4 solid 1px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}
.content-1.title{
    font-size: 40px;
    text-transform: uppercase;
    color: #0667F0;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.content-1.name{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.carousel-1 .list-1 .item-1:nth-child(1),
.carousel-1 .list-1 .item-1:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-1 .list-1 .item-1:nth-child(3){
    left: 63%;
}

.carousel-1 .list-1 .item-1:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-1 .list-1 .item-1:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-1 .list-1 .item-1:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-1 .list-1 .item-1:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}

.list-1 .item-1 .content-1{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-1 .item-1:nth-child(2) .content-1{
    display: block;
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.arrows-1{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 150px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-1 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-1 button:hover{
    background: #fff;
    color: #000;
}

.carousel-1 .timeRunning-1{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #0667F0;
    left: 0;
    top: 0;
    animation: runningTime 2s linear 1 forwards;
}

/* Carousel-1 */

/* Carousel-2 */

.carousel-2{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-2 .list-2 .item-2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    border: #f4f4f4 solid 1px;
}

.carousel-2 .list-2 .item-2:nth-child(1),
.carousel-2 .list-2 .item-2:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-2 .list-2 .item-2:nth-child(3){
    left: 63%;
}

.carousel-2 .list-2 .item-2:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-2 .list-2 .item-2:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-2 .list-2 .item-2:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-2 .list-2 .item-2:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}





.list-2 .item-2 .content-2{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-2 .item-2:nth-child(2) .content-2{
    display: block;
}

.arrows-2{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-2 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-2 button:hover{
    background: #fff;
    color: #000;
}

/* Carousel-2 */

/* Carousel-3 */

.carousel-3{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-3 .list-3 .item-3{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    border: #f4f4f4 solid 1px;
}

.carousel-3 .list-3 .item-3:nth-child(1),
.carousel-3 .list-3 .item-3:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-3 .list-3 .item-3:nth-child(3){
    left: 63%;
}

.carousel-3 .list-3 .item-3:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-3 .list-3 .item-3:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-3 .list-3 .item-3:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-3 .list-3 .item-3:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}





.list-3 .item-3 .content-3{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-3 .item-3:nth-child(2) .content-3{
    display: block;
}

.arrows-3{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-3 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-3 button:hover{
    background: #fff;
    color: #000;
}

/* Carousel-3 */

/* Carousel-4 */

.carousel-4{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-4 .list-4 .item-4{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    border: #f4f4f4 solid 1px;
}

.carousel-4 .list-4 .item-4:nth-child(1),
.carousel-4 .list-4 .item-4:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-4 .list-4 .item-4:nth-child(3){
    left: 63%;
}

.carousel-4 .list-4 .item-4:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-4 .list-4 .item-4:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-4 .list-4 .item-4:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-4 .list-4 .item-4:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}





.list-4 .item-4 .content-4{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-4 .item-4:nth-child(2) .content-4{
    display: block;
}

.arrows-4{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-4 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-4 button:hover{
    background: #fff;
    color: #000;
}

/* Carousel-4 */

/* Carousel-5 */

.carousel-5{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-5 .list-5 .item-5{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    border: #f4f4f4 solid 1px;
}

.carousel-5 .list-5 .item-5:nth-child(1),
.carousel-5 .list-5 .item-5:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-5 .list-5 .item-5:nth-child(3){
    left: 63%;
}

.carousel-5 .list-5 .item-5:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-5 .list-5 .item-5:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-5 .list-5 .item-5:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-5 .list-5 .item-5:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}





.list-5 .item-5 .content-5{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-5 .item-5:nth-child(2) .content-5{
    display: block;
}

.arrows-5{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-5 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-5 button:hover{
    background: #fff;
    color: #000;
}

/* Carousel-3 */
/* Carousel-3 */

.carousel-6{
    width: 600px;
    height: 350px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-6 .list-6 .item-6{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
    border: #f4f4f4 solid 1px;
}

.carousel-6 .list-6 .item-6:nth-child(1),
.carousel-6 .list-6 .item-6:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carousel-6 .list-6 .item-6:nth-child(3){
    left: 63%;
}

.carousel-6 .list-6 .item-6:nth-child(4){
    left: calc(63% + 110px);
}

.carousel-6 .list-6 .item-6:nth-child(5){
    left: calc(63% + 310px);
}

.carousel-6 .list-6 .item-6:nth-child(6){
    left: calc(63% + 510px);
}

.carousel-6 .list-6 .item-6:nth-child(n+7){
    left: calc(63% + 710px);
    opacity: 0;
}





.list-6 .item-6 .content-6{
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list-6 .item-6:nth-child(2) .content-6{
    display: block;
}

.arrows-6{
    position: absolute;
    top: 10%;
    right: 67%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows-6 button{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0667F0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows-6 button:hover{
    background: #fff;
    color: #000;
}

/* Carousel-6 */